<link rel="stylesheet" href="/stylesheets/styledivisoes.css">
<%- include('./partials/header.ejs') %>

<section>

  <div class="capas-personagem">
  <div class="capa" name="Ash">
      <a href="personagem/ash" target="_self">
        <img src="public/images/Ash.png" alt="Ash">
        <h5>Ash</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="batman">
      <a href="personagem/batman" target="_self">
        <img src="public/images/batman.png" alt="batman">
        <h5>Batman</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Bob Esponja">
        <a href="personagem/bobEsponja" target="_self">
          <img src="public/images/bobEsponja.webp" alt="BobEsponja">
          <h5>Bob Esponja</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="Chapeleiro Maluco">
        <a href="personagem/chapeleiroMaluco" target="_self">
          <img src="public/images/chapeleiroMaluco.jpg" alt="Chapeleiro Maluco">
          <h5>Chapeleiro Maluco</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="Coringa">
        <a href="personagem/coringa" target="_self">
          <img src="public/images/coringa.png" alt="Chaves">
          <h5>Coringa</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="DarthVader">
        <a href="personagem/darthVader" target="_self">
          <img src="public/images/darthVader.png" alt="DarthVader">
          <h5>Darth Vader</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
         <div class="capa" name="">
        <a href="personagem/dobby" target="_self">
          <img src="public/images/Dobby.png" alt="Dobby">
          <h5>Dobby</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="Dory">
        <a href="personagem/dory" target="_self">
          <img src="public/images/dory.jpeg" alt="Dory">
          <h5>Dory</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
         <div class="capa" name="EllenRipley">
        <a href="personagem/ellenRipley" target="_self">
          <img src="public/images/EllenRipley.png" alt="EllenRipley">
          <h5>Ellen Ripley</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>  
    <div class="capa" name="Frodo">
      <a href="personagem/frodo" target="_self">
        <img src="public/images/Frodo.png" alt="Frodo">
        <h5>Frodo</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>       
    <div class="capa" name="HarryPotter">
      <a href="personagem/harryPotter" target="_self">
        <img src="public/images/HarryP.png" alt="HarryPotter">
        <h5>Harry Potter</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
     <div class="capa" name="JackSparrow">
      <a href="personagem/jackSparrow" target="_self">
        <img src="public/images/JackSparrow.png" alt="JackSparrow">
        <h5>Jack Sparrow</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Mario">
      <a href="personagem/mario" target="_self">
        <img src="public/images/mario.jpeg" alt="Mario">
        <h5>Mário</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Neo">
      <a href="personagem/neo" target="_self">
        <img src="public/images/Neo.png" alt="Neo">
        <h5>Neo</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
      <div class="capa" name="Nigel">
        <a href="personagem/nigel" target="_self">
          <img src="public/images/Nigel.webp" alt="Nigel">
          <h5>Nigel</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="O Pequeno Príncipe">
      <a href="personagem/oPequenoPrincipe" target="_self">
        <img src="public/images/oPequenoPrincipe.jpg" alt="O Pequeno Príncipe">
        <h5>O Pequeno Príncipe</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Perry">
      <a href="personagem/perry" target="_self">
        <img src="public/images/Perry.png" alt="Perry">
        <h5>Perry</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Sullivan">
      <a href="personagem/sullivan" target="_self">
        <img src="public/images/Sullivan.png" alt="Sullivan">
        <h5>Sullivan</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>

  </div>

</section>
<section>
  <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body>
</html>

