<link rel="stylesheet" href="/stylesheets/styledivisoes.css">
<%- include('./partials/header.ejs') %>

<section>

  <div class="capas-personagem">
  
    <div class="capa" name="Ash">
      <a href="personagem/ash" target="_self">
        <img src="public/images/Ash.png" alt="Ash">
        <h5>Ash</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Cálice">
      <a href="personagem/calice" target="_self">
        <img src="/public/images/calice.jpg" alt="Calice">
        <h5>Cálice</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Carl Johnson">
      <a href="personagem/carlJohnson" target="_self">
        <img src="public/images/CarlJohnson.jpg" alt="CarlJohnson">
        <h5>Carl Johnson</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
     <div class="capa" name="Jinx">
       <a href="personagem/jinx" target="_self">
         <img src="public/images/jinx.jpg" alt="Jinx">
         <h5>Jinx</h5>
         <%- include('./partials/stars.ejs') %>
       </a>
     </div> 
    <div class="capa" name="Kratos">
      <a href="personagem/kratos" target="_self">
        <img src="public/images/kratos.webp" alt="Kratos">
        <h5>Kratos</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
      <div class="capa" name="Leon Kennedy">
        <a href="personagem/leonKennedy" target="_self">
          <img src="public/images/leonKennedy.webp" alt="Leon Kennedy">
          <h5>Leon Kennedy</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="Link">
        <a href="personagem/link" target="_self">
          <img src="public/images/Link.webp" alt="Link">
          <h5>Link</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="Mario">
      <a href="personagem/mario" target="_self">
        <img src="public/images/mario.jpeg" alt="Mario">
        <h5>Mário</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Scorpion">
      <a href="personagem/scorpion" target="_self">
        <img src="public/images/Scorpion.webp" alt="Scorpion">
        <h5>Scorpion</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>  
  </div>

</section>
<section>
  <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body>
</html>

