<link rel="stylesheet" href="/stylesheets/styledivisoes.css">
<%- include('./partials/header.ejs') %>

<section>

  <div class="capas-personagem">
    <div class="capa" name="anarquia">
      <a href="personagem/anarquia" target="_self">
        <img src="public/images/anarquia.png" alt="anarquia">
        <h5>Anarquia</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Chapeleiro Maluco">
        <a href="personagem/chapeleiroMaluco" target="_self">
          <img src="public/images/chapeleiroMaluco.jpg" alt="Chapeleiro Maluco">
          <h5>Chapeleiro Maluco</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
         <div class="capa" name="Dobby">
        <a href="personagem/dobby" target="_self">
          <img src="public/images/Dobby.png" alt="Dobby">
          <h5>Dobby</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
     <div class="capa" name="Elizabeth">
        <a href="personagem/elizabeth" target="_self">
          <img src="public/images/Elizabeth.png" alt="Elizabeth">
          <h5>Elizabeth</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
     <div class="capa" name="Frankenstein">
      <a href="personagem/frankenstein" target="_self">
        <img src="public/images/Frankenstein.png" alt="Frankenstein">
        <h5>Frankenstein</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>             
    <div class="capa" name="Hamlet">
      <a href="personagem/hamlet" target="_self">
        <img src="public/images/Hamlet.png" alt="Hamlet">
        <h5>Hamlet</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>       
    <div class="capa" name="HarryPotter">
      <a href="personagem/harryPotter" target="_self">
        <img src="public/images/HarryP.png" alt="HarryPotter">
        <h5>Harry Potter</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
     <div class="capa" name="JayGatsby">
      <a href="personagem/jayGatsby" target="_self">
        <img src="public/images/JayGatsby.png" alt="JayGatsby">
        <h5>Jay Gatsby</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
          <div class="capa" name="LisbethSalander">
        <a href="personagem/lisbethSalander" target="_self">
          <img src="public/images/LisbethSalander.png" alt="Lisbeth Salander">
          <h5>Lisbeth Salander</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="O Pequeno Príncipe">
      <a href="personagem/oPequenoPrincipe" target="_self">
        <img src="public/images/oPequenoPrincipe.jpg" alt="O Pequeno Príncipe">
        <h5>O Pequeno Príncipe</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Raskolnikov">
      <a href="personagem/raskolnikov" target="_self">
        <img src="public/images/raskolnikov.png" alt="raskolnikov">
        <h5>Raskolnikov</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Sherlock">
      <a href="personagem/sherlock" target="_self">
        <img src="public/images/sherlock.png" alt="Sherlock">
        <h5>Sherlock</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
  
  </div>

</section>
<section>
  <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body>
</html>

