<link rel="stylesheet" href="/stylesheets/styledivisoes.css">
<%- include('./partials/header.ejs') %>

<section>
  <div class="capas-personagem">
    <div class="capa" name="Anya Forger">
      <a href="personagem/anyaForger" target="_self">
        <img src="public/images/anyaForger.jpg" alt="AnyaForger">
        <h5>Anya Forger</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Ash">
      <a href="personagem/ash" target="_self">
        <img src="public/images/Ash.png" alt="Ash">
        <h5>Ash</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Bart Simpspon">
      <a href="personagem/bartSimpson" target="_self">
        <img src="public/images/bart-simpson.jpg" alt="BartSimpson">
        <h5>Bart Simpson</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Ben 10">
      <a href="personagem/ben10" target="_self">
        <img src="public/images/ben10.jpg" alt="Ben10">
        <h5>Ben 10</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Bob Esponja">
        <a href="personagem/bobEsponja" target="_self">
          <img src="public/images/bobEsponja.webp" alt="BobEsponja">
          <h5>Bob Esponja</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="Cálice">
      <a href="personagem/calice" target="_self">
        <img src="/public/images/calice.jpg" alt="Calice">
        <h5>Cálice</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
      <div class="capa" name="Chaves">
        <a href="personagem/chaves" target="_self">
          <img src="public/images/chaves.png" alt="Chaves">
          <h5>Chaves</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="Coringa">
        <a href="personagem/coringa" target="_self">
          <img src="public/images/coringa.png" alt="Chaves">
          <h5>Coringa</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="DarthVader">
        <a href="personagem/darthVader" target="_self">
          <img src="public/images/darthVader.png" alt="DarthVader">
          <h5>Darth Vader</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
      <div class="capa" name="Doug Funnie">
        <a href="personagem/dougFunnie" target="_self">
          <img src="public/images/doug-funnie.jpg" alt="DougFunnie">
          <h5>Doug Funnie</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
     <div class="capa" name="Finn">
      <a href="personagem/finn" target="_self">
        <img src="public/images/Finn.png" alt="Finn">
        <h5>Finn</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Ichigo Kurosaki">
      <a href="personagem/ichigoKurosaki" target="_self">
        <img src="public/images/IchigoKurosaki.jpg" alt="IchigoKurosaki">
        <h5>Ichigo Kurosaki</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
     <div class="capa" name="Jinx">
       <a href="personagem/jinx" target="_self">
         <img src="public/images/jinx.jpg" alt="Jinx">
         <h5>Jinx</h5>
         <%- include('./partials/stars.ejs') %>
       </a>
     </div> 
      <div class="capa" name="Lala">
        <a href="personagem/lala" target="_self">
          <img src="public/images/lala.jpg" alt="Lala">
          <h5>Lala</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="Lali">
      <a href="personagem/lali" target="_self">
        <img src="public/images/lali.jpg" alt="Lali">
        <h5>Lali</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
      <div class="capa" name="Light Yagami">
        <a href="personagem/lightYagami" target="_self">
          <img src="public/images/LightYagami.jpg" alt="Light Yagami">
          <h5>Light Yagami</h5>
          <%- include('./partials/stars.ejs') %>
        </a>
      </div>
    <div class="capa" name="Perry">
      <a href="personagem/perry" target="_self">
        <img src="public/images/Perry.png" alt="Perry">
        <h5>Perry</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Saul Goodman">
      <a href="personagem/saulGoodman" target="_self">
        <img src="public/images/SaulGoodman.jpg" alt="Saul Goodman">
        <h5>Saul Goodman</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="Tyrone">
      <a href="personagem/tyrone" target="_self">
        <img src="public/images/tyrone.png" alt="Tyrone">
        <h5>Tyrone</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="loidForger">
      <a href="personagem/loidForger" target="_self">
        <img src="public/images/LoidForger.png" alt="loidForger">
        <h5>Loid Forger</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="damianDesmond">
      <a href="personagem/damianDesmond" target="_self">
        <img src="public/images/damianDesmond.png" alt="damianDesmond">
        <h5>Damian Desmond</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
    <div class="capa" name="YorForger">
      <a href="personagem/yorForger" target="_self">
        <img src="public/images/YorForger.png" alt="yorForger">
        <h5>Yor Forger</h5>
        <%- include('./partials/stars.ejs') %>
      </a>
    </div>
  </div>

</section>
<section>
  <footer><%- include('./partials/footer.ejs') %></footer>
</section>
</body>
</html>

